.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

@media only screen and (max-width: 500px){
    .row .col {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
}

@media only screen and (min-width: 601px) {

  .row .col {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 993px) {

  .row .col {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}